@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
* {
	box-sizing: border-box;
}
::selection {
    background-color: #222222;
    color: #fff;
}
body {
    display: grid;
    font-family: Roboto;
    background-color: #222222;
    color: #fff;
    padding: 0;
    margin: 0;
    grid-template-columns: 20% 79%;
    column-gap: 1%;
}

/* Side bar */

#sidebar {
    left: 0;
    top: 0;
    bottom: 0;
    padding: 10%;
    width: 100%;
    height: 100vh;
    background: rgb(22, 22, 22);
    border-right: 2px solid #fff;
}
#filter {
    border-radius: 10px;
    padding: 0.1%;
    grid-template-columns: auto;
}
.titleSideBar {
    font-size: 150%;
}
.labelCheckboxFilter {
    display: flex; 
    align-items: center;
	position: relative;
    cursor: pointer;
    font-size: 120%;
}

.container {
	text-align: center;
    width: 100%;
}

input {
	width: 0;
	height: 0;
	opacity: 0;
}

label > span {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	border: 2px solid #9e9e9e;
	margin-right: 15px;
	border-radius: 3px;
	transition: all .3s;
}

input:checked + label > span {
	border: 10px solid #F1C40F;
	animation: bounce 250ms;
}

input:checked + label > span::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 4px;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	transform: rotate(45deg);
	transform-origin: 0% 100%;
	animation: checked-box 125ms 250ms forwards;
}

@keyframes checked-box {
	0% {
		width: 0;
		height: 0;
		border-color: #212121;
		transform: translate(0,0) rotate(45deg);
	}
	33% {
		width: 4px;
		height: 0;
		border-color: #212121;
		transform: translate(0,0) rotate(45deg);
	}
	100% {
		width: 4px;
		height: 8px;
		border-color: #212121;
		transform: translate(0,-8px) rotate(45deg);
	}
}

/* mainBody */

#mainBody {
    padding: 0;
    margin: 0;
}

.mainTitle {
    font-family: Cairo;
    margin: 0;
    text-align: center;
    font-size: 400%;
    font-weight: 500;
}
.mainSubtitle {
    font-family: Cairo;
    text-align: center;
    font-size: 180%
}

#websites {
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
    grid-template-columns: auto auto;
    column-gap: 20%;
    grid-template-rows: 180% 180%;
    row-gap: 20%;
}
.website {
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}
.titleWebsite {
    font-family: Cairo;
    text-align: center;
    margin-top: 0;
    width: 100%;
    background-color: rgba(53, 53, 53, 0.466);
    font-size: 150%;
}
.website:hover {
    transform: scale(1.2);
}
#website1 {
    background-image: url('../Skate-in-peace/src/icons/logo.png');
}
#website2 {
    background-image: url('../res/skate_Escape.png');
}
#website3 {
    background-image: url('../res/just_Listen.png');
}
#website4 {
    background-image: url('../res/2021.png');
}