.flouBody {
    -webkit-filter: blur(8px);
}

.heroTitles {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.title {
    font-weight: 00;
    font-size: 150px;
    line-height: 1;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    opacity: 0.9;
    color: transparent;
    margin-left: 100px;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, transparent 50%, #ffffff 50% );
    transition: background-position ease-out 0.4s;
    background-size: 1% 200%;
}
.title:hover {
    background-position: 0 -100%;
}
.descriptionHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2em;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

a.name {
    text-decoration: none;
    color: #fff;
    position: relative;
}
a.name:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 80%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 300ms cubic-bezier(0, .8, .13, 1);
    background-color: rgba(74, 183, 255, 0.5);
    border-radius: 40px;
}
a.name:hover:after {
    top: 10%;
}

/* footer */
.contactUs {
    cursor: pointer;
    display: relative;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    text-align: center;
    border-radius: 30px;

    color: #222;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
.contactUs:hover {
    color: #fff;
    background-color: #222;
    border: 1px solid white;
}
.aContactUs {
    color: #fff;
    text-decoration: none;
}
.two-lines {
    font-size: 50px;
    text-decoration: none;
    position: relative;
    color: rgb(255, 255, 255);
    margin-left: 45%;
    margin-bottom: 10%;
}

.two-lines::before,
.two-lines::after {
    content: "";
    position: absolute;
    height: 2px;
    background: rgb(255, 255, 255);
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 10px);
    transition: all 0.2s ease-in-out;
}
.two-lines::before {
    width: 90%;
    bottom: 0;
}
.two-lines::after {
    width: 60%;
    bottom: -7px;
}

.two-lines:hover::before,
.two-lines:hover::after {
    opacity: 1;
    transform: translate(-50%, 0px);
}

.two-lines::before,
.two-lines:hover::after {
    transition-delay: 0.1s; 
}
.two-lines:hover::before {
    transition-delay: 0s;
}