@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background: linear-gradient(145deg, #722286, rgb(107, 52, 195), #3A3DD8, #3ACCD8);
    color: #fff;
    background-size: 200% 200%;
    font-family: Montserrat, "sans-serif";
}
.searchCity {
    display: grid;
    grid-template-columns: auto;
    width: 60%;
    margin: 0 auto;
}
#inputCity {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: none;
    padding: 2%;
    font-size: 130%;
    letter-spacing: 3px;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#inputCity:focus {
    border-radius: 40px;
    width: 80%;
    background-color: #222222;
    color: #fff;
}
.btnCity {
    width: 40%;
    margin: 20px auto;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2%;
    font-size: 130%;
    transition: all 0.3s ease;
    border-radius: 10px;
}
.btnCity:hover {
    background-color: rgba(255, 255, 255, 1);
}
.mainSection {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 100px 25%;
    width: 50%;
    border-radius: 20px;
    height: 50vh;
}
.subSection {
    padding: 10%;
    transition: all 0.3s ease;
}
.subSection:hover {
    border-radius: 20px;
    transform: scale(1.2);
    background-color: rgb(197, 197, 197);
    color: #222222;
}
.skateOrNot {
    background-color: rgba(50, 141, 216, 1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#dayname {
    font-size: 230%;
    font-weight: 500;
    margin: 0;
}
#time {
    font-size: 250%;
    margin: 0;
}
#dateName {
    font-size: 160%;
    font-weight: 500;
    margin: 0;
}
#city {
    font-size: 120%;
}
#HumidityLevel {
    font-size: 300%;
    font-weight: 500;
}
.criticalHumidityLevel {
    color: #222222;
}

#skatable {
    padding: 3%;
    text-align: center;
    border-radius: 10px;
    font-size: 130%;
    font-weight: 500;
    color: #fff;
    transition: all 0.3s ease;
}
.cantSkate {
    background-color: #812003;
}
.canSkate {
    background-color: #408103;
}
#skatable:hover {
    transform: scale(0.95);
}


/* Weather section */
.weather {
    background-color: rgba(54, 54, 54, 0.753);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.weatherInfo {
    font-size: 140%;
}
.wind {
    font-size: 140%;
}
.temp {
    font-size: 300%;
    margin-bottom: 0;
}
#time {
    text-align: center;
}
.rain {
    margin: 0;
}
.chanceRain {
    font-size: 140%;
}
.tempMax {
    margin: 0;
    font-size: 140%;
}
@media screen and (max-width: 1000px){
    .searchCity {
        width: 80%;
        margin: 0px auto;
    }
    #inputCity {
        width: 80%;
        margin: 0px auto;
        font-size: 110%;
        letter-spacing: 1px;
        outline: none;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .btnCity {
        width: 70%;
        font-size: 110%;
        color: #fff;
    }
    .btnCity:hover {
        color: #222222;
    }
    .mainSection {
        grid-template-columns: auto;
        margin: 100px 10%;
        width: 80%;
    }
    .skateOrNot {
        border-radius: 20px;
    }
    .weather {
        border-radius: 20px;
        z-index: -10;
    }
    .subSection:hover {
        border-radius: 20px;
        transform: scale(1);
        background-color: rgba(50, 141, 216, 1);
        color: #ffffff;
    }
    #secondPart {
        transform: translateY(-90%);
        opacity: 0;
    }
}
.criticalRainLevel {
    color: lightcoral;
}