html {
    font-family: Roboto;
    color: #ffffff;
}
*::selection {
    background-color: #222222;
}
/* HeroHeader */
.slide{
    /* les images doivent absolument avoir une resolution de 1200x600 */
    max-width: 100%;
    padding-top: 55%;

    background-repeat: no-repeat;
    background-size: contain;

    animation: fondu 30s ease-in-out infinite both;
}
@keyframes fondu {
    /* par la suite transformer ces liens par des liens imgur pour eviter le telechargement trop long des ressources */
    0%{background-image: url("../src/skate1.jpeg");}
    10%{background-image: url("../src/skate1.jpeg");}
    20%{background-image: url("../src/skate2.jpeg");}
    30%{background-image: url("../src/skate2.jpeg");}
    40%{background-image: url("../src/skate3.jpeg");}
    50%{background-image: url("../src/skate3.jpeg");}
    60%{background-image: url("../src/skate4.jpeg");}
    70%{background-image: url("../src/skate4.jpeg");}
    80%{background-image: url("../src/skate5.jpeg");}
    90%{background-image: url("../src/skate5.jpeg");}
    100%{background-image: url("../src/skate1.jpeg");}
    /* l'image du 100% et du 0% doivent etre identique */
}
