@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap');

body {
    background-color: #222222;
    color: #fff;
    font-family: Roboto;
    padding: 0;
}
/* Header */
header {
    text-align: center;
    transition: all 1s ease;
}
p.title {
    font-size: 300%;
    text-align: center;
}
.descriptionWebsite {
    font-size: 130%;
}
p.littleWord {
    font-family: Montserrat, 'sans-serif';
    font-weight: 600;
    font-style: italic;
    font-size: 140%;
}
/* Question */

#start {
    width: 20%;
    margin: 10% auto 0 auto;
    text-align: center;
    border: none;
    outline: none;
    font-size: 180%;
    padding: 1%;
    background-color: rgb(241, 231, 136);
    color: #222222;
    border-radius: 20px;
    cursor: pointer ;
    transition: all 0.3s ease;
}
#start:hover {
    background-color: rgb(241, 136, 136);
    color: #fff;
    box-shadow: -5px 5px 0px 0px rgb(241, 136, 136), -10px 10px 0px 0px rgb(241, 183, 136), -15px 15px 0px 0px rgb(241, 204, 136), -20px 20px 0px 0px rgb(241, 231, 136);
}
#question {
    opacity: 0;
    padding: 1%;
    width: 60%;
    margin: 2% auto 0 auto;
    background-color: #fff;
    color: #222222;
    border-radius: 10px;
    transition: all 0.5s 0.5s ease;
}
.titleQuestion {
    text-align: center;
    font-weight: 400;
    font-size: 250%;
    margin: 0;
}
.answers {
    margin-top: 5%;
    font-size: 140%;
    margin-left: 10%;
}
.submitAnswers {
    color: #fff;
    padding: 1%;
    border-radius: 10px;text-align: center;
    width: 30%;
    font-size: 140%;
    margin: 5% auto 0 auto;
    background-color: #222222;
    cursor: pointer;
    transition: all 0.3s ease;
}
.submitAnswers:hover {
    background-color: rgb(89, 196, 62);
    color: #fff;
    transform: scale(1.2);
}
#counterQuestion {
    text-align: center;
    font-size: 150%;
    opacity: 0;
    transition: all 0.5s 0.5s ease;
}