body {
    background-color: #222222;
}
ul {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: table;
    text-align: center;
}
li.elementNav { 
    display: table-cell; 
    position: relative; 
    font-family: Roboto;
    font-style: italic;
    font-size: 1.5em;
}
a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    position: relative;
}
a:after {    
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after { 
    width: 100%; 
    left: 0; 
}