body{
    background-color: #222222;
    font-family: Roboto;
    color: white;
    opacity: 0;
}
.logoInnerPage {
    position: fixed;
    width: 5%;
    right: 1%;
    bottom: 1%;
}
.logoInnerPage:active {
    animation: pulse 0.1s ease forwards;
}
@media screen and (max-width: 1000px) {
    footer p {
        text-align: center;
        font-size: 0.3em;
        color: #575757;
    }
}
@media screen and (min-width: 1001px) {
    footer p {
        text-align: center;
        font-size: 1em;
        color: #575757;
    }
}
footer p a {
    color: #575757;
    text-decoration: none;
}

/* page transition */
.animationBody {
    animation: bodyOpacity 3s forwards;
}
@keyframes bodyOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}